<%= erb :header %>

<div class="container">
    <h2><%= @action_item.title %></h2>
    <a href="/action_item/<%= @action_item.id %>/edit" class="btn btn-primary btn-small">
              <i class="icon-white icon-file"></i> Edit Action Item</a>
    <p>And the rest was history...</p>
</div>

<%= erb :footer %>
