    </div>
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-editable.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <!--<script src="/js/bootstrap-datepicker.js"></script>-->
    <script src="/js/js.js"></script>
  </body>
</html>
