<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cheesy Action Items</title>
  <link rel="icon" href="http://team254.com/wp-content/themes/cheesypoof2013/icons/favicon.ico">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/select2.css" rel="stylesheet" type="text/css" />
  <link href="/css/select2-bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/css/css.css" rel="stylesheet" type="text/css" />
  <link href="/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/"><i class="icon-tasks"></i> Cheesy Action Items</a>
      <ul class="nav">
        <li><a href="/action_items/open"><i class="icon-check-empty"></i> Open</a></li>
        <li><a href="/action_items/completed"><i class="icon-check"></i> Completed</a></li>
        <li><a href="/action_items/by_leader"><i class="icon-user"></i> By Leader</a></li>
        <li><a href="/stats"><i class="icon-bar-chart"></i> Leader Statistics</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
